.intro {
  background-image: url(../materials/firsttt.png);
  height: 110vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 30px;
  font-size: 23px;
}

.intro h1 {
  color: var(--primary-color);
  padding: 0 0 25px 0;
  font-size: 45px;
}

.intro p {
  padding: 0 0 25px 0;
  color: var(--primary-color);
}

.intro a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-green-color);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.intro a:hover {
  background-color: var(--dark-green);
  ;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  border-radius: 5px;
}

.stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 60px 20px 0 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-green-color);
  padding: 8px;
}

.number {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.desc {
  font-size: 17px;
  color: #fff;
}

.prod img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.prod .decsription {
  padding: 16px 16px -10px 16px;
}

.prod a {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  transition: 0.4s;
}

.prod a:hover {
  color: var(--primary-green-color);
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.stars {
  color: gold;
  font-size: 20px;
}

.numrevs {
  color: #2d2d2d;
  padding-left: 10px;
}

.price {
  text-align: center;
  margin-bottom: 18px;
}

.price .old {
  text-decoration: line-through;
  color: #999;
  margin-right: 8px;
}

.price .new {
  font-weight: bold;
  color: green;
  font-size: 18px;
}

.price .discount {
  background: #eee;
  font-size: 12px;
  padding: 5px 6px;
  border-radius: 4px;
  margin-left: 10px;
}

/* Add btn */

.addcart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 0 16px 16px;
  margin-top: 40px;

}

.addcart button {
  background: var(--primary-green-color);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: 90px;
}

.addcart button:hover {
  background: var(--dark-green);
}

.addcart button #check {
  font-size: 1.2rem;
}

.products {
  text-align: center;
  padding: 40px 20px;
  margin: 20px 0 0 0;
}

.products > h2,
.products > p {
  color: var(--primary-color);
}


.prodfield {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 30px 20px;
  padding-top: 2rem;
}

.prod {
  width: 100%;
  padding: 10px 15px 10px 15px;
  border: 3px solid #ffffff;
  border-radius: 25px;
  max-width: 300px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.more {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 70px 0;
}

.more a {
  padding: 10px 20px;
  background-color: var(--primary-green-color);
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-size: larger;
}

.more a:hover {
  background-color: var(--dark-green);
}

.banner {
  display: flex;
  max-width: 1300px;
  margin: auto;
  gap: 20px;
}

.left_banner,
.rightup_banner,
.rightdown_banner {
  flex: 1;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  border-radius: 8px;
}

.left_banner {
  background-image: url(../materials/pexels-fotios-photos-1395958.jpg);
  height: 500px;
}

.right_banners {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightup_banner {
  background-image: url(../materials/pexels-enginakyurt-3252766.jpg);
  height: 241px;
}

.rightdown_banner {
  background-image: url(../materials/pexels-pixabay-407040.jpg);
  height: 241px;
}

.banner a {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-green-color);
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.banner a:hover {
  background-color: var(--dark-green);
  ;
}

.banner p {
  margin: 5px;
  font-size: 20px;
}

.banner h3 {
  margin: 5px;
  font-size: 40px;
}

.opinions {
  padding: 60px 20px;
  background-color: var(--body-background);
  text-align: center;
}

.opinions h2 {
  font-size: 32px;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.customers {
  overflow: hidden;
}

.customers .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 3rem 0;
}


.customer {
  background-color: var(--btn-background);
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.customer img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.customer h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.customer p {
  font-style: italic;
  color: var(--secondary-color);
}

#appbanner {
  background-image: url(../materials/appdown.png);
  height: 60vh;
  width: 93%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  border-radius: 25px;
  text-align: start;
}

#appbanner h1 {
  font-size: 40px;
  padding-left: 176px;
}

#appbanner p {
  padding: 20px 0 0 176px;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../materials/58be5226ca0cd974b78b21f79447eba0.jpg);
}

.signup_text {
  color: #ffffff;
  margin: 50px;
}


.signup_text h3 {
  padding: 0 0 7px 0;
  font-size: 40px;
}

.signup_text p {
  padding: 0 0 7px 0;
  font-size: 25px;
}

.signup a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 25px;
  background-color: var(--primary-green-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 70px;
}

.signup a:hover {
  background-color: var(--dark-green);
}

.information {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10px;
  background-color: var(--body-background);
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
}

.infofield {
  max-width: 250px;
  background-color: var(--btn-background);
  color: var(--primary-color);
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.infofield p {
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px 0;
}


/* Intro */
.cartintro {
  background-image: url(../materials/freepik__adjust__18793.png);
  width: 100%;
  height: 65vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartintro h1 {
  font-size: 60px;
  color: var(--primary-color);
}

.checkoutLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
}

.checkoutLayout .right {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 40px;
  color: #ffffff;
  height: 600px;
  overflow: hidden;
}

.checkoutLayout .right .form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}

.checkoutLayout .form h1,
.checkoutLayout .form .group {
  grid-column-start: 1;
  grid-column-end: 3;
}

.checkoutLayout .form input,
.checkoutLayout .form select {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 10px;
  border: none;
  background-color: var(--dark-green);
  ;
  color: #fff;
}

.checkoutLayout .right .return .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.checkoutLayout .right .return .row div:nth-child(2) {
  font-weight: bold;
  font-size: x-large;
}

.buttonCheckout {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: var(--primary-color);
}

.leftCart h1 {
  border-top: 1px solid #eee;
  padding: 20px 0;
}

.leftCart .list .item img {
  height: 80px;
}

.leftCart .list .item {
  display: grid;
  grid-template-columns: 80px 1fr 50px 80px;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  padding: 0 10px;
  box-shadow: 0 10px 20px #5555;
  border-radius: 20px;
}

.leftCart .list .item .name,
.leftCart .list .item .returnPrice {
  font-size: large;
  font-weight: bold;
}

.cart-totals {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.total-items,
.total-price {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.empty-cart {
  font-size: xx-large;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
