.proddetails {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: var(--primary-color);
}

.proddetails .mainimg {
  width: 40%;
  margin-right: 50px;
  text-align: center;
}

.proddetails .mainimg>img {
  min-height: 350px;
  max-height: 350px;
  border-radius: 10px;
}

.smallimgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 20px;
}

.smallimgcol {
  flex-basis: calc(100% / 4);
  cursor: pointer;
  background-color: white;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.smallimgcol>img {
  max-width: 100%;
}

.proddetails .details {
  padding-top: 30px;
  width: 50%;
}

.details button {
  background: var(--primary-green-color);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: 110px;
  font-size: x-large;

}

.details button:hover {
  background: var(--dark-green);
}

.details h2 {
  margin-bottom: 10px;
  font-size: xx-large;
}

.details h3 {
  margin-bottom: 20px;
  font-size: x-large;
}

.details h4 {
  margin-top: 20px;
  font-size: larger;
}

.details p {
  font-size: 18px;
}

.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 10px;
  color: var(--primary-color);
  text-align: center;
  gap: 50px;
}

.featuresfield {
  max-width: 250px;
  background-color: var(--btn-background);
  padding: 20px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featuresfield p {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 10px 0;
}

.slide {
  margin: 120px 0 100px 0;
}

.slide h2 {
  margin-bottom: 30px;
  margin-left: 20px;
  font-size: xx-large;
  color: var(--primary-color);
}


.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 200px;
  background: var(--btn-background);
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  color: var(--primary-color);
  transition: 0.4s;
}


.product-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 0;
}

.arrow.right {
  right: 0;
}


.product-card a:hover {
  color: #16a34a;
}