* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green: #2c7e38;
	--light-green: #c0f6bc;


}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

#content main {
    width: 100%;
    padding: 36px 24px;
    font-family: var(--poppins);
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 55px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left p {
margin-top: 15px;
font-size: large;
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--green);
	pointer-events: unset;
}






#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li:nth-child(4) .bx {
	background: var(--light-green);
	color: var(--green);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}





#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}
#content main .table-data .Employee {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .Employee table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .Employee table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .Employee table td {
	padding: 16px 0;
}
#content main .table-data .Employee table td i.fa-delete-left,
#content main .table-data .Employee table td i.fa-circle-info {
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 30px;
}

#content main .table-data .Employee table td i.fa-delete-left:hover,
#content main .table-data .Employee table td i.fa-circle-info:hover {
	color: var(--green);
}

#content main .table-data .Employee table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .Employee table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .Employee table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .Employee table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .Delivery {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .Delivery table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .Delivery table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .Delivery table td {
	padding: 16px 0;
}
#content main .table-data .Delivery table td i.fa-delete-left,
#content main .table-data .Delivery table td i.fa-circle-info {
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 30px;
}

#content main .table-data .Delivery table td i.fa-delete-left:hover,
#content main .table-data .Delivery table td i.fa-circle-info:hover {
	color: var(--green);
}

#content main .table-data .Delivery table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .Delivery table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .Delivery table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .Delivery table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .stock {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .stock table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .stock table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .stock table td {
	padding: 16px 0;
}
#content main .table-data .stock table td i.fa-delete-left,
#content main .table-data .stock table td i.fa-plus,
#content main .table-data .stock table td i.fa-circle-info {
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 30px;
}

#content main .table-data .stock table td i.fa-delete-left:hover,
#content main .table-data .stock table td i.fa-plus:hover,
#content main .table-data .stock table td i.fa-circle-info:hover {
	color: var(--green);
}

#content main .table-data .stock table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .stock table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .stock table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .stock table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}

.table-data .stock .see-more-btn {
    display: block;             
    margin: 20px auto 0;          
    padding: 10px 25px;          
    background-color: #28a745;       
    color: white;                 
    font-size: 18px;           
    border: none;                  
    border-radius: 10px;            
    width: auto;                  
    cursor: pointer;               
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.table-data .stock .see-more-btn:hover {
    background-color: #218838;    
    color: white;                
}
.table-data .stock .save-btn {
    display: block;             
    margin: 20px auto 0;          
    padding: 10px 25px;          
    background-color: #28a745;       
    color: white;                 
    font-size: 18px;           
    border: none;                  
    border-radius: 10px;            
    width: auto;                  
    cursor: pointer;               
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.table-data .stock .save-btn:hover {
    background-color: #218838;    
    color: white;                
}



.contact-form {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 24px;
  margin: 40px auto;
  background: var(--light);
  border-radius: 20px;
  box-shadow: none;
}


.contact-form h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
  font-weight: bold;
}

.input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  caret-color: var(--primary-green-color);
}

.input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--primary-green-color);
}

.input-box input:focus~span,
.input-box input:valid~span {
  font-size: 12px;
  transform: translatey(-20px);
}

.complaint-form {
  padding: 20px;
  border-radius: 15px;
  margin-left: -20px;
}

select,
textarea,
button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
  caret-color: var(--primary-green-color);
  border: 1px solid var(--primary-green-color);
  outline: 0;
}


button {
  background-color: #28a745;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}
#content main .table-data .stock table td .discount-input {
  border: 2px solid #2ecc71;  
  border-radius: 20px;       
  padding: 5px 10px;
  outline: none;
  transition: 0.2s;
}

#content main .table-data .stock table td .discount-input:focus {
  border-color: #27ae60;       
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}

#content main .table-data .Delivery table td .discount-input {
  border: 2px solid #2ecc71;  
  border-radius: 20px;       
  padding: 5px 10px;
  outline: none;
  transition: 0.2s;
}

#content main .table-data .Delivery table td .discount-input:focus {
  border-color: #27ae60;       
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5);
}




